<br>

<div class="text-center">
    <label class="btn btn-default">
    Upload Image
    <input type="file" hidden (change)="uploadFile($event)">
  </label>
</div>
<br>
<div class="container">

    <div class="row">
        <!-- <form (submit)="adddata($event)"> -->
        <div class="col-md-4">
            <label>Name</label>
            <input type="text" [(ngModel)]="name" name="name" required>

        </div>
        <div class="col-md-4">
            <label>Email</label>
            <input type="email" [(ngModel)]="email" name="email" required>

        </div>
        <div class="col-md-4">
            <!-- <input type="submit" value="add"> -->
            <button *ngIf="added" class="btn btn-primary" (click)="adduserdata()">ADD</button>
            <button *ngIf="edited" class="btn btn-primary" (click)="updateuserdata()">UPDATE</button>

        </div>
        <!-- </form> -->
    </div>

</div>

<br><br>
<hr>
<div class=" container ">
    <table class="table ">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Actioin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quoteGroup of quoteCollection2">
                <td>{{quoteGroup.name}}</td>
                <td>{{quoteGroup.email}}</td>
                <td>
                    <button type="button " class="btn btn-primary " (click)="updatedata(quoteGroup)">Edit</button>

                    <button type="button " class="btn btn-danger " (click)="deletedata(quoteGroup)">Delete</button>

                </td>
            </tr>

        </tbody>
    </table>
</div>